@font-face {
    font-family: HYWenHei; /* custom font */
    src: url(/fonts/HYWenHei-85W.ttf) format(truetype); 
}

body {
    margin: 0;
    font-family: HYWenHei, sans-serif; 
    background-size: cover;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(169, 252, 255), rgb(255, 255, 255));
    opacity: 40%;
    z-index: -2; 
}

.logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(62, 11, 98);
}

a {
    text-decoration: none;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.nav-link {
    display: flex;
    align-items: center; /* even */
    justify-content: space-between;
    background: linear-gradient(to right, rgb(197, 255, 255), rgb(255, 248, 213));
    padding: 1px 50px;
}

.links {
    display: flex;
    gap: 50px;
}

nav a {
    color: rgb(46, 56, 62);
    font-size: 13px;
}

nav a:hover {
    color: rgb(0, 100, 134);
}

.head-video video {
    pointer-events: none;
}

header .container .head-video video {
    display: block; /* covering */
    object-fit: cover; /* biar ga gepeng pas di adjust */

    width: 700px;
    height: 100%;
    mask-image: radial-gradient(circle  , black 20%, transparent 70%);
}

header .container {
    display: flex;
    background: linear-gradient(to right, rgb(112, 126, 132), rgb(0, 41, 58));
    height: 65vh;
}

header .container .title{
    padding: 2px 5px;
    margin: 100px;
    color: rgb(255, 255, 255);   
}

header .container .title p {
    background: linear-gradient(to left, rgb(146, 129, 23), rgb(0, 141, 196));
    padding: 7px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    display: inline-block;
}

header .container1 .head-video {
    width: 100%;
    height: 100%;
}

header .container1 .head-video video {
    width: 100%;
    height: 100%;

    display: block; 
    object-fit: cover; 
}

header .container1{
    display: relative;
    background: linear-gradient(to right, rgb(112, 126, 132), rgb(0, 41, 58));
    height: 65vh;
}

header .container1 .title{
    position: absolute;
    text-align: center;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);   
    z-index: 2;
    padding: 2px 5px;
}

header .container1 .title h1 {
    width: 400px;
}

header .container1 .title p {
    text-align: center;
    display: inline-block; /* biar pas */
    background: linear-gradient(to left, rgb(146, 129, 23), rgb(0, 141, 196));
    padding: 7px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65vh;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
    opacity: 50%;
    z-index: 1;
}

.wrapper .title {
    margin: 50px;
    text-align: center;
}

.wrapper .title h1, h2, .wrapper h3{
    color: rgb(4, 40, 62);
}

.wrapper p, .contact a {
    color: rgb(46, 56, 62);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button {
    background-color: rgb(0, 100, 134);
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.button:hover {
    background-color: rgb(4, 40, 62);
}

.home .container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: 100px auto;
}   

.home .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin: 0 auto;  
    max-width: 1000px; 
}

.home img {
    gap: 10px;
    height: 200px;
    width: 240px;
    object-fit: cover;
    display: block;
    align-items: end;
    transition: transform .2s;
}

.image-grid img:hover {
    transform: scale(1.2);
}

.destination-info .container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: 10px auto;
}   

.destination-info .container  article{
    padding: 30px;
    text-align: justify;
    border-radius: 2px;
    background: linear-gradient(to left, rgb(197, 255, 255), rgb(255, 255, 255));
}

.destination-info .container  article h2{
    background: linear-gradient(to right, rgb(197, 255, 255), rgb(255, 248, 213));
    padding: 3px;
}

.destination .image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 2px;
    margin: 0 auto;  
    max-width: 1000px; 
}

.destination img {
    width: 240px;
    height: 150px;
    object-fit: cover;
    display: block;
    align-items: end;
    transition: transform .2s;
}

aside {
    width: 200px;
    background-color: white;
    padding: 10px 10px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
}

aside h3 {
    display: inline-block;
    background: linear-gradient(to right, rgb(197, 255, 255), rgb(255, 248, 213));
    padding: 3px;
    padding: 10px;
    border-radius:3px;
}

.best-spot {
    display: flex;
    max-width: 1500px;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.best-spot video {
    width: 290px;
    height: 200px;
    object-fit: cover;
}

.best-spot .content{
    width: 300px;
    margin: auto 50px;
}

.best-spot .content p {
    text-align: justify;
}

.gallery {
    padding-bottom: 80px;
}

.gallery .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    margin: 0 auto;  
    max-width: 660px; 
}

.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    align-items: end;
    transition: transform .2s;
}

.gallery .grid-item {
    position: relative; /* jadi anchor buat overlay */
    overflow: hidden;
}

.gallery .grid-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.gallery .grid-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 65, 87, 0.5);
    opacity: 0; /* awalnya invisible, pas hover baru keliatan*/
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
}

.gallery .grid-item:hover .overlay {
    opacity: 1; /* ni muncul pas di-hover */
}

.gallery .overlay .text {
    color: white;
    font-size: 17px;
}

.contact .container {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to left, rgb(182, 255, 255), rgb(255, 255, 255));  
}

.contact .container .head-video {
    height: 100%;
}

.contact .container .head-video video {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover; 
    filter: contrast(80%);
    mask-image: radial-gradient(circle  , black 30%, transparent 60%);
    filter: brightness(80%);
}

.contact .container .title {
    margin: 150px;
    width: 500px;
    text-align: left;
}

.contact .container .title h2 {
    background: linear-gradient(to left, rgb(131, 255, 255), rgb(255, 248, 213));  
    display: inline-block;
    padding: 10px;
}

hr {
    border: none;             
    height: 1px;            
    background-color: rgb(62, 76, 88); 
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    text-align: center;
    background: linear-gradient(to right, rgb(197, 255, 255), rgb(255, 248, 213));
}

footer p {
    color: rgb(46, 56, 62);
    font-size: 13px;
}
















